.MovieBackdrop {
    width: 1366px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.ImagesContainer {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    transition: 1s ease-in-out;
}

.MovieBackdropImage {
    position: relative;
}

.MoviePosterImage {
    margin-right: 10px;
}

.Filter {
    height: 550px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 18, 18, 0) 100%)
}

.MovieBackdropImage img {
    height: 550px;
    width: 1006px
}

.MoviePosterImage img {
    height: 550px;
    width: 350px
}

@media only screen and (max-width: 1365px) {
    .MovieBackdrop {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .MovieBackdropImage img {
        height: auto;
        width: 100%;
    }
    .Filter {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 18, 18, 0) 100%)
    }
    .MoviePosterImage {
        margin-right: 10px;
        display: none;
    }
}

@media only screen and (min-width: 1366px) {
    .MoviePosterImage {
        margin-right: 10px;
        display: block;
    }
}